.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .heart {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heart {
  margin-left: 10px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: rgb(119, 119, 119);
}

.header-wallet {
  margin-left: 8px;
  color: #85d66e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.balance-add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-bottom: 50px;
}



.balance {
  margin-right: 50px;
  height: 50px;
  width: 200px;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-balance {
  color: #85d66e;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 10px;
}

#select-type {
  height: 50px;
  border: 1px solid #85d66e;
  border-right: none;
  outline: none;
}

#add-transac {
  height: 50px;
  width: 400px;
  text-align: center;
  font-weight: bold;
  border: 1.5px #85d66e solid;
  border-right: none;
  background: #f5fff2;
  border-radius: 2px;
  outline: none;
}

#add-transac:focus {
  border: 1px solid #85d66e;
  background: white;
}

.btn-add {
  width: 10em;
  height: 50px;
  border-radius: 1px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border: 1.5px #85d66e solid;
  color: white;
  background: #85d66e;
  outline: none;
}
.btn-add:hover {
  color: white;
  background: #b5e6a8;
}
button.add-earning:active {
  background: #a8c1e6;
}
button.add-spending:active {
  background: #e6a8a8;
}

.allcards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.single-card {
  flex: 0 0 auto;
  margin: 0 10px;
  width: 300px;
}

.card-container-date {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  color: white;
  font-weight: bold;
  background: #b5e6a8;
}

.sum-transactions {
  display: flex;
  justify-content: space-evenly;
}
span.sum-text {
  margin-right: 10px;
}

.sum-earning {
  width: 50%;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background: #1d54cc;
}
.sum-spending {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background: #cc461d;
}

.display-cards{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px #b5e6a8 solid;
  line-height: 1.8;
}

.transac-type, .date-delete {
  display: flex;
  justify-content: space-between;
}

.transac-type {
  font-weight: bold;
}

.date-delete {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}

.btn-delete {
  padding: 5px 9px;
  font-size: 12px;
  font-weight: 300;
  color: #adadad;
  background: none;
  border: none;
  border-bottom: 1px solid #b5e6a8;
  cursor: pointer;
}
.btn-delete:hover {
  color: white;
  background: #b5e6a8;
  border-radius: 5px;

}

.positive-transac {
  color: #a8c1e6;
}
.negative-transac {
  color: #e6a8a8;
}